azure-common==1.1.28
azure-core==1.29.5
azure-mgmt-core==1.4.0
azure-mgmt-storage==21.1.0
azure-storage-blob==12.18.3
boto3==1.28.78
botocore==1.31.78
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography>=41.0.5,<42
idna==3.4
isodate==0.6.1
jmespath==1.0.1
pycparser==2.21
python-dateutil==2.8.2
pyjwt==2.8.0
pyopenssl==23.3.0
requests==2.32.4
s3transfer==0.7.0
six==1.16.0
typing_extensions==4.8.0
urllib3>=1.25.4,<1.27
